$blue: #1877f2;
$green: #42b72a;

$border-radius: 0;
$paragraph-margin-bottom: 0;

$gray-600: rgb(245, 245, 245);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    height: 100vh;
}

.nav {
    a {
        color: white;

        &:hover {
            color: white;
        }
    }
}

.user-div:hover {
    background-color: rgb(250, 250, 250);
}

.messages-box {
    height: 500px;
    overflow-y: scroll;

    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.user-image {
    width: 50px;
    height: 50px;
    object-fit: "cover";
    border-radius: 50%;
}

.message-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.info-text {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 0.5rem;
}

.react-button-popover {
    height: 30px;
}

.react-icon-button {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn:focus {
    box-shadow: none;
}

.reactions-div {
    position: absolute;
    right: -10px;
    bottom: -25px;
    font-size: 0.9rem;
}

a {
    // color: #3f51b5;
    color: black;
}

a:hover {
    // color: #3f51b5;
    color: black;
    text-decoration: none;
}

.login,
.register {
    height: 90vh;
}

.login-container,
.register-container {
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100%;

    h1 {
        font-weight: 200;
        margin-bottom: 20px;
    }

    button {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-input {
        margin: 20px 0;
    }

    input {}
}

.login-buttons,
.register-buttons {
    text-align: center;
}

.login-buttons {
    a {
        color: #3f51b5;

        &:hover {
            color: #3f51b5;
        }
    }
}

.register-buttons {
    a {
        color: #f50057;

        &:hover {
            color: #f50057;
        }
    }
}